{% extends 'app_store/base.html' %}
{% load static %}

{% block middle %}
    <div class="Middle Middle_top">
    <div class="Middle-top">
      <div class="wrap">
        <div class="Middle-header">
          <h1 class="Middle-title">Оформление заказа
          </h1>
          <ul class="breadcrumbs Middle-breadcrumbs">
            <li class="breadcrumbs-item"><a href="index.html">home</a>
            </li>
            <li class="breadcrumbs-item breadcrumbs-item_current"><span>Оформление заказа</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="Section Section_column Section_columnRight Section_columnWide Order">
      <div class="wrap">
        <div class="Section-column">
          <div class="Section-columnSection">
            <header class="Section-header">
              <strong class="Section-title">Прогресс заполнения
              </strong>
            </header>
            <div class="Section-columnContent">
              <ul class="menu menu_vt Order-navigate">
                <li class="menu-item_ACTIVE menu-item">
                  <a class="menu-link" href="#step1">Шаг 1. Параметры пользователя</a>
                </li>
                <li class="menu-item"><a class="menu-link" href="#step2">Шаг 2. Способ доставки</a>
                </li>
                <li class="menu-item"><a class="menu-link" href="#step3">Шаг 3. Способ оплаты</a>
                </li>
                <li class="menu-item"><a class="menu-link" href="#step4">Шаг 4. Подтверждение заказа</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="Section-content">
          {% if user.is_authenticated %}
          <form class="form" action="#" method="post">
            {% csrf_token %}
            <div class="Order-block Order-block_OPEN" id="step1">
              <header class="Section-header Section-header_sm">
                <h2 class="Section-title">Шаг 1. Параметры пользователя
                </h2>
              </header>
              <div class="row">
                <div class="row-block">
                  <div class="form-group">
                    <label class="form-label" for="name">ФИО
                    </label>
                    <input class="form-input" id="name" name="name" type="text" value="{{ order_profile_form.fio.value }}"/>
                  </div>
                  <div class="form-group">
                    <label class="form-label" for="phone">Телефон</label>
                    <input class="form-input" id="phone" name="phone" type="text" value='{{ order_profile_form.phone_number.value }}'/>
                  </div>
                  <div class="form-group">
                    <label class="form-label" for="mail">E-mail
                    </label>
                    <input class="form-input" id="mail" name="mail" type="text" value="{{ request.user.email }}" data-validate="require"/>
                  </div>
                </div>
<!--                <div class="row-block">-->
<!--                  <div class="form-group">-->
<!--                    <label class="form-label" for="password">Пароль-->
<!--                    </label>-->
<!--                    <input class="form-input" id="password" name="password" type="password" placeholder="Тут можно изменить пароль"/>-->
<!--                  </div>-->
<!--                  <div class="form-group">-->
<!--                    <label class="form-label" for="passwordReply">Подтверждение пароля-->
<!--                    </label>-->
<!--                    <input class="form-input" id="passwordReply" name="passwordReply" type="password" placeholder="Введите пароль повторно"/>-->
<!--                  </div>-->
<!--                  <div class="form-group"><a class="btn btn_muted Order-btnReg" href="#">Я уже зарегистрирован</a>-->
<!--                  </div>-->
<!--                </div>-->
              </div>
              <div class="Order-footer">
                  <a class="btn btn_success Order-next" onclick="get_user_parameters()" href="#step2">Дальше</a>
              </div>
            </div>
            <div class="Order-block" id="step2">
              <header class="Section-header Section-header_sm">
                <h2 class="Section-title">Шаг 2. Способ доставки
                </h2>
              </header>
              <div class="form-group">
                  {% for del_type in order_delivery_form.delivery_type %}
                    <div>
                      <label class="toggle" for="{{ del_type.id_for_label }}">
                          {{ del_type.tag }}
                          <span class="toggle-box"></span>
                          <span class="toggle-text">{{ del_type.choice_label }}</span>
                      </label>
                    </div>
                  {% endfor %}
              </div>
              <div class="form-group">
                <label class="form-label" for="city">Город</label>
                <input class="form-input" id="city" name="city" type="text" data-validate="require"/>
              </div>
              <div class="form-group">
                <label class="form-label" for="address">Адрес</label>
                <textarea class="form-textarea" name="address" id="address" data-validate="require"></textarea>
              </div>
              <div class="Order-footer">
                  <a class="btn btn_success Order-next" onclick="get_delivery_parameters()" href="#step3">Дальше</a>
              </div>
            </div>
            <div class="Order-block" id="step3">
              <header class="Section-header Section-header_sm">
                <h2 class="Section-title">Шаг 3. Способ оплаты
                </h2>
              </header>
              <div class="form-group">
                {% for pay_type in order_payment_form.payment_type %}
                    <div>
                      <label class="toggle" for="{{ pay_type.id_for_label }}">
                          {{ pay_type.tag }}
                          <span class="toggle-box"></span>
                          <span class="toggle-text">{{ pay_type.choice_label }}</span>
                      </label>
                    </div>
                  {% endfor %}
              </div>
              <div class="Order-footer"><a class="btn btn_success Order-next" onclick="get_payment_parameters()" href="#step4">Дальше</a>
              </div>
            </div>
            <div class="Order-block" id="step4">
              <header class="Section-header Section-header_sm">
                <h2 class="Section-title">Шаг 4. Подтверждение заказа
                </h2>
              </header>
              <!--+div.Order.-confirmation-->
              <div class="Order-infoBlock">
                <div class="Order-personal">
                  <div class="row">
                    <div class="row-block">
                      <div class="Order-info">
                        <div class="Order-infoType">ФИО:</div>
                        <div class="Order-infoContent" id="infoname"></div>
                      </div>
                      <div class="Order-info">
                        <div class="Order-infoType">Телефон:</div>
                        <div class="Order-infoContent" id="infophone"></div>
                      </div>
                      <div class="Order-info">
                        <div class="Order-infoType">E-mail:</div>
                        <div class="Order-infoContent" id="infoemail"></div>
                      </div>
                    </div>
                    <div class="row-block">
                      <div class="Order-info Order-info_delivery">
                        <div class="Order-infoType">Тип доставки:</div>
                        <div class="Order-infoContent" id="infodeliverytype"></div>
                      </div>
                      <div class="Order-info">
                        <div class="Order-infoType">Город:</div>
                        <div class="Order-infoContent" id="infocity"></div>
                      </div>
                      <div class="Order-info">
                        <div class="Order-infoType">Адрес:</div>
                        <div class="Order-infoContent" id="infoaddress"></div>
                      </div>
                      <div class="Order-info Order-info_pay">
                        <div class="Order-infoType">Оплата:</div>
                        <div class="Order-infoContent" id="infopaymenttype"></div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="Cart Cart_order">
                  {% for item in cart_list %}
                    {% with product=item.product %}
                        <div class="Cart-product">
                          <div class="Cart-block Cart-block_row">
                            <div class="Cart-block Cart-block_pict">
                              <a class="Cart-pict" href="{% url 'app_store:product_detail' product.id %}">
                                <img class="Cart-img" src="../../../media/{{ product.picture }}" alt="card.jpg"/>
                              </a>
                            </div>
                            <div class="Cart-block Cart-block_info"><a class="Cart-title" href="{% url 'app_store:product_detail' product.id %}">{{product.name}}</a>
                              <div class="Cart-desc">{{product.description}}</div>
                            </div>
                            <div class="Cart-block Cart-block_price">
                              <div class="Cart-price">{{product.price|floatformat:2}}$</div>
                            </div>
                          </div>
                          <div class="Cart-block Cart-block_row">
                            <div class="Cart-block Cart-block_amount">{{item.count}} шт.</div>
                          </div>
                        </div>
                    {% endwith %}
                  {% endfor %}
                  <div class="Cart-product">
                      <div class="Cart-block Cart-block_row">
                        <div class="Cart-block Cart-block_pict">
                          <div class="Cart-pict">
                            <img class="Cart-img" src="./../../media/product_pictures/delivery.svg" alt="card.jpg"/>
                          </div>
                        </div>
                        <div class="Cart-block Cart-block_info">
                          <div class="Cart-title">Доставка</div>
                          <div class="Cart-desc" id="order_delivery_type"></div>
                        </div>
                        <div class="Cart-block Cart-block_price">
                          <div class="Cart-price" id="order_delivery_price"></div>
                        </div>
                      </div>
                      <div class="Cart-block Cart-block_row">
                        <div class="Cart-block Cart-block_amount"></div>
                      </div>
                  </div>
                  <div class="Cart-total">
                    <div class="Cart-block Cart-block_total">
                      <strong class="Cart-title">Итого:</strong>
                      <span class="Cart-price" id="order_total_price">
                        {% with total_items=cart|length %}
                            {% if cart|length > 0 %}
                                {{ cart.get_total_price|floatformat:2}}$
                            {% else %}
                                0$
                            {% endif %}
                        {% endwith %}
                      </span>
                    </div>
                    <div class="Cart-block">
                      <button class="btn btn_primary btn_lg" type="submit">Оплатить</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </form>
          {% else %}
          <form class="form" action="#" method="post">
            {% csrf_token %}
            <div class="Order-block Order-block_OPEN" id="step1">
              <header class="Section-header Section-header_sm">
                <h2 class="Section-title">Шаг 1. Параметры пользователя
                </h2>
              </header>
              <div class="row">
                <div class="row-block">
                  <div class="form-group">
<!--                    <label class="form-label" for="name">ФИО</label>-->
<!--                    <input class="form-input" id="name" name="name" type="text" value=""/>-->
                    <label class="form-label" for="{{ order_registry_form.fio.id_for_label }}">ФИО</label>
                    {{ order_registry_form.fio }}
                  </div>
                  <div class="form-group">
<!--                    <label class="form-label" for="phone">Телефон</label>-->
<!--                    <input class="form-input" id="phone" name="phone" type="text" value=""/>-->
                    <label class="form-label" for="{{ order_registry_form.phone_number.id_for_label }}">Телефон</label>
                    {{ order_registry_form.phone_number }}
                  </div>
                  <div class="form-group">
<!--                    <label class="form-label" for="mail">E-mail</label>-->
<!--                    <input class="form-input" id="mail" name="mail" type="text" value="" data-validate="require"/>-->
                    <label class="form-label" for="{{ order_registry_form.email.id_for_label }}">E-mail</label>
                    {{ order_registry_form.email }}
                  </div>
                </div>
                <div class="row-block">
                    {{ order_registry_form.non_field_errors }}
<!--                  <div class="form-group">-->
<!--&lt;!&ndash;                      <div style="margin-bottom: 40px;">{{ order_registry_form.non_field_errors }}</div>&ndash;&gt;-->
<!--                      {{ order_registry_form.non_field_errors }}-->
<!--                  </div>-->
                  <div class="form-group">
<!--                    <label class="form-label" for="password">Пароль</label>-->
<!--                    <input class="form-input" id="password" name="password" type="password" placeholder="Тут можно изменить пароль"/>-->
                    <label class="form-label" for="{{ order_registry_form.password1.id_for_label }}">Пароль</label>
                    {{ order_registry_form.password1 }}
                  </div>
                  <div class="form-group">
<!--                    <label class="form-label" for="passwordReply">Подтверждение пароля</label>-->
<!--                    <input class="form-input" id="passwordReply" name="passwordReply" type="password" placeholder="Введите пароль повторно"/>-->
                    <label class="form-label" for="{{ order_registry_form.password2.id_for_label }}">Подтверждение пароля</label>
                    {{ order_registry_form.password2 }}
                  </div>
                  <div class="form-group">
                      <a class="btn btn_muted Order-btnReg" id="open_pop_up">Я уже зарегистрирован</a>
                  </div>
                </div>
              </div>
              <div class="Order-footer">
                  <button class="btn btn_success" type="submit" name="btn_register" value="1">Дальше</button>
              </div>
            </div>
          </form>
          <div class="pop_up" id="pop_up">
            <div class="pop_up_container">
              <div class="pop_up_body" id="pop_up_body">
                <h2>Вход</h2>
                {{ login_form.non_field_errors }}
                <form method="post">
                  {% csrf_token %}
                  <label class="form-label" for="{{ login_form.username.id_for_label }}">Логин</label>
                  {{ login_form.username }}
                  <label class="form-label" for="{{ login_form.password.id_for_label }}">Пароль</label>
                  {{ login_form.password }}
                  <button type="submit" name="btn_login" value="1">Login</button>
                </form>
                <div class="pop_up_close" id="pop_up_close">&#10006</div>
              </div>
            </div>
          </div>
          {% endif %}
        </div>
      </div>
    </div>
    <div class="base_delivery_config" style="display: none">
        <div class="base_delivery_less_than">{{ base_delivery.base_less_than }}</div>
        <div class="base_delivery_price">{{ base_delivery.base_price }}</div>
    </div>
    <div class="express_delivery_config" style="display: none">
        <div class="express_delivery_price">{{ express_delivery.express_price }}</div>
    </div>
    </div>
{% endblock %}
{% block addition %}
<script src="https://code.jquery.com/jquery-3.6.4.js" integrity="sha256-a9jBBRygX1Bh5lt8GZjXDzyOB+bWve9EiO7tROUtj/E=" crossorigin="anonymous"></script>
<script>
    function get_user_parameters() {
        var input_name = document.getElementById('name').value;
        document.getElementById('infoname').innerHTML = input_name;

        var input_phone = document.getElementById('phone').value;
        document.getElementById('infophone').innerHTML = input_phone;

        var input_email = document.getElementById('mail').value;
        document.getElementById('infoemail').innerHTML = input_email;

        var delivery_type_0 = document.getElementById('id_delivery_type_0');
        var delivery_type_1 = document.getElementById('id_delivery_type_1');
        if (!(delivery_type_0.checked || delivery_type_1.checked)) {
            delivery_type_0.checked = true;
        }
    }

    function get_delivery_parameters() {
        var input_city = document.getElementById('city').value;
        document.getElementById('infocity').innerHTML = input_city;

        var input_address = document.getElementById('address').value;
        document.getElementById('infoaddress').innerHTML = input_address;

        var delivery_type_0 = document.getElementById('id_delivery_type_0');
        var delivery_type_1 = document.getElementById('id_delivery_type_1');
        if (delivery_type_0.checked) {
            document.getElementById('infodeliverytype').innerHTML = delivery_type_0.value;
            document.getElementById('order_delivery_type').innerHTML = '{{ base_delivery.name }}';
            if ({{ cart.get_total_price }} >= {{ base_delivery.base_less_than }}) {
                document.getElementById('order_delivery_price').innerHTML = 'Бесплатно'
            } else {
                document.getElementById('order_delivery_price').innerHTML = '{{ base_delivery.base_price|floatformat:2 }}$';
                var total_total = {{ cart.get_total_price}} + {{base_delivery.base_price }}
                document.getElementById('order_total_price').innerHTML = total_total.toFixed(2)+'$'
            }
        } else {
            document.getElementById('infodeliverytype').innerHTML = delivery_type_1.value;
            document.getElementById('order_delivery_type').innerHTML = '{{ express_delivery.name }}';
            document.getElementById('order_delivery_price').innerHTML = '{{ express_delivery.express_price|floatformat:2 }}$'
            var total_total = {{ cart.get_total_price}} + {{express_delivery.express_price }}
            document.getElementById('order_total_price').innerHTML = total_total.toFixed(2)+'$'
        }

        var payment_type_0 = document.getElementById('id_payment_type_0');
        var payment_type_1 = document.getElementById('id_payment_type_1');
        if (!(payment_type_0.checked || payment_type_1.checked)) {
            payment_type_0.checked = true;
        }
    }

    function get_payment_parameters() {
        var payment_type_0 = document.getElementById('id_payment_type_0');
        var payment_type_1 = document.getElementById('id_payment_type_1');
        if (payment_type_0.checked) {
            document.getElementById('infopaymenttype').innerHTML = payment_type_0.value;
        } else {
            document.getElementById('infopaymenttype').innerHTML = payment_type_1.value;
        }
    }

    const openPopUp = document.getElementById('open_pop_up');
    const closePopUp = document.getElementById('pop_up_close');
    const PopUp = document.getElementById('pop_up');

    var error_login = document.getElementsByClassName('errorlist nonfield');
    if (error_login !== null) {
        if (error_login[0]) {
            var cec = error_login[0]['childElementCount'];
            if (cec == 1) {
                PopUp.classList.add('active');
            }
        }
    }

    openPopUp.addEventListener('click', function(e){
        e.preventDefault();
        PopUp.classList.add('active');
    })

    closePopUp.addEventListener('click', () => {
        PopUp.classList.remove('active');
    })




</script>
{% endblock %}
